.menu {
  margin-top: $spacing-12;
}

.lists {
  display: flex;
  justify-content: space-between;
  column-gap: $spacing-64;
  margin-top: $spacing-20;
}

.summary {
  margin-top: $spacing-48;
}

.matches {
  margin-top: $spacing-32;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-16;
}

.button {
  padding-top: $spacing-24;
  padding-bottom: $spacing-24;
}
