@mixin scrollbar {
  overflow: auto;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
    transition: all 1s;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-3;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $gray-4;
  }
}

@mixin ellipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: $line;
  white-space: normal;
  word-break: break-all;
  -webkit-line-clamp: $line; /* number of lines to show */
  -webkit-box-orient: vertical;
}
