.layout {
  padding-top: $spacing-8;
  border-left: 1px solid $gray-5;
  border-right: 1px solid $gray-5;
  border-bottom: 1px solid $gray-5;
}
.menus {
  margin-bottom: $spacing-8;
  display: flex;
  justify-content: center;
}
